@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
// ! header menu
.header {
	position: fixed;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 999;

	.headerScroll {
		padding: 20px 0;

		background: var(--header-scroll);

		// transition: padding 0.5s, background 0.2s;
		transition: padding 0.5s, background 0.2s;

		@media (max-width: 767px) {
			padding: 10px 0;
			backdrop-filter: none;
			-webkit-backdrop-filter: none;

			background: #18131de0;
			box-shadow: none;
		}
	}

	.headerScroll.active {
		padding: 10px 0;

		backdrop-filter: blur(7px);
		-webkit-backdrop-filter: blur(7px);

		background: var(--header-scroll-active);
		box-shadow: 0px 0px 5px var(--header-scroll-box-shadow);

		@media (max-width: 767px) {
			backdrop-filter: none;
			-webkit-backdrop-filter: none;

			background: #18131de0;
			box-shadow: none;
		}
	}

	.content {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		display: flex;
		align-items: center;
		margin-right: 2rem;

		a {
			cursor: pointer;

			.logo__bg {
				font-family: "Permanent Marker", cursive;
				font-size: 30px;
				font-weight: 500;

				span {
					background: -webkit-linear-gradient(-70deg, #b509bd 0%, #7a06b4 100%);
					-webkit-background-clip: text;
					background-clip: text;
					-webkit-text-fill-color: rgba(0, 0, 0, 0);
					-webkit-box-decoration-break: clone;
				}
			}

			@media (max-width: 700px) {
				cursor: default;
			}
		}
	}

	// ? links position
	.nav__menu {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
	}

	.left {
		display: flex;
		align-items: center;
	}

	// ! link
	.links {
		margin: 0 20px;

		display: flex;
		align-items: center;

		.link {
			padding: 10px 12px;

			font-size: 16px;
			font-weight: 500;
			text-decoration: none;
			cursor: pointer;

			transition: 0.3s;

			color: var(--header-text-color);

			&:hover {
				color: var(--header-text-color-hover);
			}

			&.active {
				//color: var(--header-text-color-active);
				background: -webkit-linear-gradient(-70deg, #ef00fc 0%, #d287f6 100%);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: rgba(0, 0, 0, 0);
				-webkit-box-decoration-break: clone;
			}
		}
	}

	.right {
		position: relative;
		display: flex;
		align-items: center;

		// ! dropdown language menu for desktop
		.dropdown__language__menu__for__desktop {
			position: relative;
			height: 100%;
			max-height: 40px;
			margin-right: 10px;
			padding: 21px 40px 21px 12px;
			font-weight: 500;
			cursor: pointer;
			transition: 0.2s;

			color: var(--header-text-color);

			&:hover {
				color: var(--header-dropdown-lang-icon-hover);
			}

			.arrow__icon {
				//transition: 0.2s;
			}

			.icon {
				position: relative;
			}

			span {
				.arrow__icon__V1 {
					position: absolute;
					top: 53%;
					right: -10px;
					transform: translateY(-50%);
					width: 17px;
					height: 17px;
				}

				.arrow__icon__V2 {
					position: absolute;
					top: 53%;
					right: -30px;
					transform: translateY(-50%);
					width: 17px;
					height: 17px;
				}
			}

			.dropdown__content {
				position: absolute;
				background: rgba(31, 8, 47, 0.7);

				backdrop-filter: blur(3px);
				-webkit-backdrop-filter: blur(3px);

				box-shadow: 0 0 30px #e3aa1b;
				top: 42px;
				right: 0;
				opacity: 0;
				visibility: hidden;

				padding: 10px;
				display: flex;
				flex-direction: column;
				box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.46);

				border-radius: 10px;
				transform: scale(0.8) translateZ(0);
				transition: opacity 0.2s, transform 0.3s, visibility 0s;

				cursor: default;

				@media (max-width: 767px) {
					backdrop-filter: none;
					-webkit-backdrop-filter: none;

					box-shadow: none;
				}

				.button {
					color: var(--header-text-color);

					padding: 10px 12px;
					border: none;
					border-radius: 10px;
					font-size: 14px;
					text-transform: uppercase;
					text-decoration: none;
					cursor: pointer;

					transition: 0.1s;

					&:hover {
						background: rgba(60, 44, 71, 0.5);
					}
				}

				.button.active {
					color: #ef00fc;

					cursor: not-allowed;

					&:hover {
						background: transparent;
					}
				}
			}

			&:hover .dropdown__content {
				opacity: 1;
				visibility: visible;
				transform: none;
			}
		}

		// ! button resume
		.resume {
			.button {
				padding: 8px 15px;
				width: 100%;

				display: flex;
				justify-content: space-between;
				align-items: center;

				backdrop-filter: blur(2px);
				-webkit-backdrop-filter: blur(2px);
				// background: #20123e3d;
				background: transparent;
				border: 1px solid #7979795d;
				border-radius: 7px;

				text-transform: uppercase;
				text-decoration: none;
				line-height: 24px;
				font-size: 14px;
				font-weight: 600;

				transition: 0.3s;

				color: #e0e0eb;

				&:hover {
					// background: #25252985;
					background: #1a0f213b;

					color: #bdbdc5;
				}

				svg {
					margin-left: 10px;
					font-size: 17px;
				}
			}
		}
	}

	.burger__button {
		display: none;
	}

	// ! burger menu
	.nav__burger__menu {
		//background: var(--header-burger-menu);
		background: #1a0f21f2;
		border: 1px solid var(--header-burger-menu-border);

		position: absolute;
		right: 0;
		top: 50px;

		opacity: 0;
		visibility: hidden;
		transform: scale(0.8) translateZ(0px);

		display: flex;
		flex-direction: column;
		justify-content: center;
		// align-items: center;
		box-shadow: 0px 5px 20px #00000073;
		border-radius: 10px;
		max-width: 370px;
		width: 100%;
		padding: 20px 20px 20px 20px;

		transition: 0.165s;

		@media (max-width: 767px) {
			backdrop-filter: none;
			-webkit-backdrop-filter: none;

			box-shadow: none;
		}

		// ! link
		.link {
			border-bottom: 1px solid var(--header-burger-menu-button-line);
			color: var(--header-text-color);

			width: 100%;
			padding: 15px 10px;

			font-size: 14px;
			font-weight: 500;
			text-decoration: none;

			transition: 0.3s;

			@media (max-width: 700px) {
				cursor: default;
			}

			&:hover {
				color: #ef00fc;
			}

			&.active {
				color: #ef00fc;
			}
		}

		// ! dropdown language menu for mobile
		.dropdown__language__menu__for__mobile {
			border-bottom: 1px solid var(--header-burger-menu-button-line);

			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;

			z-index: 10;

			span {
				color: var(--header-text-color);

				position: relative;
				padding: 15px 10px;
				font-size: 14px;
				font-weight: 500;
				text-decoration: none;

				transition: 0.3s;
				cursor: pointer;

				&:hover {
					color: #ef00fc;
				}

				@media (max-width: 700px) {
					color: var(--header-text-color);

					cursor: default;

					&:hover {
						color: var(--header-text-color);
					}
				}

				.arrow__icon {
					position: absolute;
					top: 53%;
					transform: translateY(-50%);

					width: 19px;
					height: 19px;

					fill: #8e8e91;

					transition: 0.3s;
				}

				.arrow__icon__V1 {
					right: 33px;
				}

				.arrow__icon__V2 {
					right: 8px;

					transform: translateY(-50%) rotate(270deg);
				}
			}

			.dropdown__content {
				display: none;
			}

			.dropdown__content.open {
				display: flex;
				flex-direction: column;
				width: 100%;

				.button {
					color: var(--header-text-color);
					// margin: 4px 0;
					padding: 13px 20px;
					font-size: 14px;
					font-weight: 500;
					text-transform: uppercase;
					text-decoration: none;
					cursor: pointer;

					@media (max-width: 700px) {
						cursor: default;
					}

					&:hover {
						color: #ef00fc;
					}

					&.active {
						color: #ef00fc;
					}
				}
			}
		}

		.dropdown__language__menu__for__mobile.open {
			span {
				color: #ef00fc;

				.arrow__icon__V2 {
					transform: translateY(-50%) rotate(360deg);
				}
			}
		}

		// ! button resume
		.resume {
			margin: 15px 0;

			.button {
				padding: 8px 15px;
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				background: #2e2838bb;

				text-decoration: none;
				padding: 10px 15px;
				border-radius: 7px;
				border: 1px solid transparent;
				line-height: 24px;
				font-size: 14px;
				font-weight: 600;

				color: #c1c1ca;

				svg {
					font-size: 18px;
				}
			}
		}
	}
}

@media (max-width: 1050px) {
	.header {
		.nav__menu {
			display: none;
		}

		.nav__burger__menu.show {
			opacity: 1;
			right: 0;
			visibility: visible;
			transform: none;
		}

		// ? Sher
		// !
		//.burger__button {
		//	position: absolute;
		//	right: -17px;
		//
		//	overflow: hidden;
		//
		//	display: block;
		//	transform: scale(0.5);
		//
		//	.burger__icon {
		//		width: 60px;
		//		height: 45px;
		//		position: relative;
		//		transition-duration: 1s;
		//		cursor: pointer;
		//
		//		@media (max-width: 700px) {
		//			cursor: default;
		//		}
		//
		//		span {
		//			background-color: var(--header-burger-button);
		//
		//			top: 19px;
		//			height: 7px;
		//			width: 60px;
		//			border-radius: 20px;
		//			position: absolute;
		//			transition-duration: 0.15s;
		//			transition-delay: 0.15s;
		//
		//			&:before {
		//				background-color: var(--header-burger-button);
		//
		//				left: 0;
		//				position: absolute;
		//				top: -18px;
		//				height: 7px;
		//				width: 60px;
		//				content: "";
		//				border-radius: 20px;
		//				transition-duration: 0.15s;
		//				transition: transform 0.15s, top 0.15s 0.15s;
		//			}
		//
		//			&:after {
		//				background-color: var(--header-burger-button);
		//
		//				left: 0;
		//				position: absolute;
		//				top: 18px;
		//				height: 7px;
		//				width: 60px;
		//				content: "";
		//				border-radius: 20px;
		//				transition-duration: 0.15s;
		//				transition: transform 0.15s, top 0.15s 0.15s;
		//			}
		//		}
		//	}
		//
		//	.burger__icon.open {
		//		span {
		//			background: transparent;
		//
		//			transition-duration: 0.1s;
		//			transition-delay: 0.15s;
		//
		//			&:before {
		//				transition: top 0.15s, transform 0.15s 0.15s;
		//				top: 0px;
		//				transform: rotateZ(-45deg);
		//			}
		//
		//			&:after {
		//				transition: top 0.38s, transform 0.15s 0.15s;
		//				top: 0px;
		//				transform: rotateZ(45deg);
		//			}
		//		}
		//	}
		//}

		// !

		// ? Elcho911
		// !
		.burger__button {
			position: absolute;
			right: -17px;

			overflow: hidden;

			display: block;
			transform: scale(0.47);

			label {
				display: flex;
				flex-direction: column;
				width: 70px;
				cursor: pointer;

				@media (max-width: 700px) {
					cursor: default;
				}
			}

			label span {
				background: #fff;
				border-radius: 10px;
				height: 7px;
				margin: 7px 0;
				transition: 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
			}

			span:nth-of-type(1) {
				width: 50%;
			}

			span:nth-of-type(2) {
				width: 100%;
			}

			span:nth-of-type(3) {
				width: 75%;
			}

			input[type="checkbox"] {
				display: none;
			}

			input[type="checkbox"]:checked ~ span:nth-of-type(1) {
				transform-origin: bottom;
				transform: rotatez(45deg) translate(8px, 0px);
			}

			input[type="checkbox"]:checked ~ span:nth-of-type(2) {
				transform-origin: top;
				transform: rotatez(-45deg);
			}

			input[type="checkbox"]:checked ~ span:nth-of-type(3) {
				transform-origin: bottom;
				width: 50%;
				transform: translate(30px, -11px) rotatez(45deg);
			}
		}

		//!
	}
}
