@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900);
.preLoader {
	background: linear-gradient(-45deg, #1b0334, rgb(13, 16, 25)) fixed;

	position: relative;
	width: 100%;
	height: 100vh;
	cursor: default;

	overflow: hidden;

	.title_loader {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
		letter-spacing: 0.1rem;
		font-family: 'Montserrat', sans-serif;
		font-size: 37px;
		font-weight: 700;
		text-shadow: 0px 0px 5px #4c00ff;

		span {
			color: #5f62e2;
		}
	}

	.loader {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%) rotateZ(45deg);

		font-size: 65px;
		border-radius: 50%;
		$loader_size: 377px;
		width: $loader_size;
		height: $loader_size;
		color: #fff;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: inherit;
			height: inherit;
			left: 0;
			top: 0;
			border-radius: 50%;
			transform: rotateX(70deg);
			animation: 1s spin linear infinite;
		}

		&:after {
			color: #5f62e2;
			transform: rotateY(70deg);
			animation-delay: 0.2s;
		}
	}
}

@keyframes spin {
	0%,
	100% {
		box-shadow: 0.2em 0px 0 0px currentcolor;
	}
	12% {
		box-shadow: 0.2em 0.2em 0 0 currentcolor;
	}
	25% {
		box-shadow: 0 0.2em 0 0px currentcolor;
	}
	37% {
		box-shadow: -0.2em 0.2em 0 0 currentcolor;
	}
	50% {
		box-shadow: -0.2em 0 0 0 currentcolor;
	}
	62% {
		box-shadow: -0.2em -0.2em 0 0 currentcolor;
	}
	75% {
		box-shadow: 0px -0.2em 0 0 currentcolor;
	}
	87% {
		box-shadow: 0.2em -0.2em 0 0 currentcolor;
	}
}
