.contact_page {
  .form_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 60px;

    .box_img,
    .box_img_send {
      background: url("https://i.pinimg.com/originals/f5/f2/74/f5f27448c036af645c27467c789ad759.gif")
        no-repeat center/cover;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      width: 100%;
      height: 100%;

      color: #fff;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 0.01rem;
    }

    .box_img_send {
      background: linear-gradient(
          rgba(9, 16, 25, 0.321),
          rgba(9, 16, 25, 0.705)
        ),
        url("https://marketpedia.ca/wp-content/uploads/2021/10/gif-01-brent-rambo-b25.gif")
          no-repeat center/cover;
    }

    .form {
      min-height: 650px;

      padding: 0.5rem 1.5rem;

      display: flex;
      flex-direction: column;

      background-color: #0d1117;

      border-radius: 12px;
      border: 1px solid var(--nav-outline-color);

      outline: none;

      transition: 0.4s;

      &:hover {
        filter: drop-shadow(0 0 2em #649dffaa);
      }

      .label {
        padding: 0.8rem 0.5rem;
        font-size: 1.1rem;
        font-weight: 600;
        color: #8b949e;
      }

      span {
        padding: 1rem 0 0.5rem 0.2rem;
        color: rgb(153, 255, 221);
      }

      .input,
      .textarea {
        width: 480px;

        padding: 0.9rem 1rem;

        background: none;

        background-color: #ffffff08;
        box-shadow: #ffffff51 0 0 0 1px inset;

        border-radius: 0.5rem;
        border: none;

        outline: none;

        font-size: 1.1rem;
        font-weight: 500;
        color: #fff;

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-size: 1.1rem;
          font-weight: 500;
          color: #bdbdbd;
        }
      }

      .textarea {
        max-width: 480px;
        min-height: 3.3rem;
        min-width: 3.3rem;
        font-family: "Proxima Nova", sans-serif;
        margin-bottom: 1rem;
      }

      .form_btn,
      .form_btn_send {
        width: 100%;
        padding: 1.2rem;
        margin-top: auto;
        margin-bottom: 1rem;

        border-radius: 0.375rem;
        border: none;
        outline: none;

        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.04rem;

        background: #7b00ff;

        color: #ffffff;

        cursor: pointer;

        transition: all 0.4s;

        &:hover {
          background: rgb(145, 67, 255);
        }
      }

      .form_btn_send {
        background: rgb(199, 160, 254);
      }
    }
  }
}

@media (max-width: 837px) {
  .contact_page {
    margin-top: 6rem;
    .form_wrapper {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      margin: 0;

      .box_img,
      .box_img_send {
        height: 120px;
      }

      .form {
        padding: 0.4rem 1rem;
        filter: drop-shadow(0 0 2em #649dffaa);

        .input,
        .textarea {
          max-width: 340px;
        }
      }
    }
  }
}
